{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Dados{% endblock %}
{% block main %}
    {{ resp }}
    <div id='clientPage' class='container spaceUp spaceDown'>
        <form id="formInfoUser" method="POST">
            {% csrf_token %}
            <div class='form-group row'>
                <label name="login" class='control-label col-lg-1'>E-mail:</label>
                <div class="col-lg-4">
                    <input name="login" type="mail" id="login" class="form-control" disabled/>
                </div>
            </div>
            <div class='form-group row'>
                <label name="CPF" class='control-label col-lg-1'>CPF:</label>
                <div class="col-lg-4">
                    <input name="CPF" id="CPF" type="text" class="form-control" disabled/>
                </div>
            </div>
            <div class='form-group row'>
                <label name="celular" class='control-label col-lg-1'>Celular:</label>
                <div class="col-lg-4">
                    <input name="celular" id="celular" type="text" class="form-control" disabled/>
                </div>
            </div>
            <div class='form-group row'>
                    <label name="restricoes" class='control-label col-lg-1'>Restrições:</label>
                    <div class="col-lg-4 row moveLeft30">
                        <div class='checkbox row'>
                            <label><input type="checkbox" value='' disabled> Restrição 1</label>
                        </div>
                        <div class='checkbox row'>
                            <label><input type="checkbox" value='' disabled> Restrição 2</label>
                        </div>
                        <div class='checkbox row'>
                            <label><input type="checkbox" value='' disabled> Restrição 3</label>
                        </div>
                        <div class='checkbox row'>
                            <label><input type="checkbox" value='' disabled> Restrição 4</label>
                        </div>
                        <label for='outrasRestricoes'>Outras:</label>
                        <textarea class='form-control textBox' wrap="off" id="outrasRestricoes" rows='5' disabled></textarea>
                    </div>
                </div>
            <div class="row col-lg-offset-2">
                    <button type="button" id='btnAtualizarFormUser' onclick="AtualizarFormInfoUser()" class='btn btn-primary'>Atualizar</button>
                <button type="submit" form="formInfoUser" value="Submit" id='btnSalvarFormUser' onclick="SubmitFormInfoUser()" class='btn btn-primary displayNone'>Salvar</button>
            </div>
        </form>
    </div>
{% endblock %}