{% extends 'base.html' %} {% load static %}
{% block title%}Justino Art Tattoo{% endblock %}
{% block main %}
{{ ret }}
<div id='loginDiv' class='container spaceUp spaceDown'>
    <form id="formEnviarToken" method="POST" class='form-horizontal'>
        {% csrf_token %}
        <div class='form-group row'>
            {% if msg != '' %}
                <h6 class="msgErroForm">{{ msg }}</h6>
            {% endif %}
            {% if user.confiavel == 0 %}
                <label name="token" class='control-label col-lg-2'>Código:</label>
                <div class="col-lg-3">
                    <input name="token" type="text" id="token" class="form-control"/>
                </div>
                <div class="row col-lg-offset-2">
                <button type="submit" form="formEnviarToken" value="Submit" onclick="SubmitFormEnviarToken()" class='btn btn-primary'>Comfirmar E-mail</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}