{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Usuário{% endblock %}
{% block main %}
    {{ ret }}
    <div id='loginDiv' class='container spaceUp spaceDown'>
        <form id="formLogin" method="POST" class='form-horizontal'>
            {% csrf_token %}
            <div class='form-group row'>
                {% if msg != '' %}
                    <h6 class="msgErroForm">{{ msg }}</h6>
                {% endif %}
                <label name="login" class='control-label col-lg-2'>E-mail:</label>
                <div class="col-lg-3">
                    <input name="login" type="mail" id="login" class="form-control"/>
                </div>
            </div>
            <div class='form-group row'>
                <label name="senha" class='control-label col-lg-2'>Senha:</label>
                <div class="col-lg-3">
                    <input name="senha" id="senha" type="password" class="form-control"/>
                </div>
            </div>
            <div class="row col-lg-offset-2">
                <button type="submit" form="formLogin" value="Submit" onclick="SubmitFormLogin()" class='btn btn-primary'>Sign In</button>
                <button type="button" class='btn btn-link'><a href="{% url 'criarConta' %}">Create account</a></button>
            </div>
        </form>
    </div>
{% endblock %}