*{
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial;
}

header {
    height:50px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.containerMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    opacity: 0.7;
    background-color: #555555;
}

.itemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50px;
    border: none;
    background-color: #555555;
}
.itemMenu:hover{
    background-color: #767676;
    transition: 0.5s;
}

.linkMenu{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    width:100%;
    text-align: center;
}
.itemMenu:hover .linkMenu{
    color: black;
}