@import url('https://fonts.googleapis.com/css?family=Caveat|Caveat+Brush|Covered+By+Your+Grace|East+Sea+Dokdo|Great+Vibes|Handlee|Indie+Flower|Josefin+Slab|Kaushan+Script|Lobster+Two|Marck+Script|Sacramento|Satisfy|Shadows+Into+Light|Shadows+Into+Light+Two|Space+Mono|Yellowtail');

*{
    box-sizing: border-box;
    margin: 0px;
    color: white;
    font-family: 'kashuan scripy', cursive;
}

body{
    background-color: black;
}

header {
    height:50px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    padding-bottom: 5em;
}

.siteTitle{
    display: flex;
    justify-content: center;
}

.title{
    color: white;
}

.containerMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: min-content;
    opacity: 1;
    background-color: white;
}

.itemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 8.5em;
    height: 50px;
    border: none;
    background-color: white;
}
.itemMenu:hover{
    background-color: #767676;
    transition: 0.5s;
}

.itemMenu:hover .linkMenu{
    background-color: #767676;
    transition: 0.5s
}

.linkMenu{
    font-weight: bold;
    color: black;
    background-color: white;
    text-decoration: none;
    width:100%;
    text-align: center;
}


#map{
    height: 15em;
    width: 20em;
    margin-right: 1em;
}

footer{
    padding-top: 5em;
    background-color: #767676;
    width: 100%;

}

.footerTop{
    display: flex;
    padding: 0em 0.5em 0em 0.5em;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.direitos{
    padding: 2em 0em 2em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}