.containerCarousel {
    display: flex;
    justify-content: center;
    width:85%;
    height:fit-content;
    margin-left: 7%;
    padding-top: 7em;
    border: 1px solid #a8a8a8;
    border-radius: 1em;
}

.carousel {
    display: flex;
    justify-content: center;
    width:90%;
    height:500px;
}
/* possibiliade de utilizar bootstrap plugin
.selector{
    display: flex;
    flex-direction: row;
    width: 40%;

}

.paginationDot{
    background-color: #3a3a3a;
    border-radius: 50%;
    width:24px;
    height:24px;
}
.paginationDot:active{
    background-color: #262aff;
}
*/
.top5 {
    display: flex;
	justify-content: center;
	align-content: center;
    width:80%;
	height:fit-content;
	margin-left: 10%;
	margin-bottom: 10%; 
}

.gridtop5 {
    display: grid;
    grid-template-columns: 9em 9em 9em 9em 9em;
    grid-template-rows: 9em 9em 9em 9em;
    grid-template-areas:
        'highlight highlight highlight highlight'
        'highlight highlight highlight highlight'
        'highlight highlight highlight highlight'
        'highlight highlight highlight highlight';
    justify-content: center;
    align-content: center;
}

.itemtop5 {
    width: 8.2em;
    height: 8.2em;
    margin-left: 10px;
    margin-top: 10px;
}
.imgtop5 {
    width: 8.2em;
	height: 8.2em;
	border-radius: 1em;
}
.imgHighlight {
    width: 35em;
	height: 35em;
	border-radius: 1em;
}
.highlight{
    grid-area: highlight;
    width: 35em;
    height: 35em;
}

@media screen and (max-width: 652px) {

	.top5 {
		margin-left: 12%;
	}

	.gridtop5 {
		grid-template-columns: 7em 7em 7em 7em;
		grid-template-rows: 7em 7em 7em 7em 7em;
	}
	
	.itemtop5 {
		width: 5.7em;
		height: 5.7em;
	}
	.imgtop5 {
		width: 5.7em;
		height: 5.7em;
	}
	.imgHighlight {
		width: 26.5em;
		height: 26.5em;
	}
	.highlight{
		width: 26.5em;
		height: 26.5em;
	}

}

@media screen and (max-width: 420px) {

	.top5 {
		margin-left: 10%;
	}

	.gridtop5 {
		grid-template-columns: 5em 5em 5em 5em;
		grid-template-rows: 5em 5em 5em 5em 5em;
	}
	
	.itemtop5 {
		width: 3.7em;
		height: 3.7em;
	}
	.imgtop5 {
		width: 3.7em;
		height: 3.7em;
	}
	.imgHighlight {
		width: 18.5em;
		height: 18.5em;
	}
	.highlight{
		width: 18.5em;
		height: 18.5em;
	}

}
.imagensInsta{
    display: flex;
    flex-flow: row wrap;
}

.itemsInsta{
    width: 6em;
    height: 6em;
}

/*Label metodos instragram access token*/
.label{
    color: white;
}