{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Criar Conta{% endblock %}
{% block main %}
    <form id="formCadastro" method="POST">
        {% csrf_token %}
        <div>
            {% if msgE != '' or msgS != '' %}
                <h6 class="msgErroForm">{{ msgE }} {{ msgS }}</h6>
            {% endif %}
            <label name="email">E-mail:</label>
            <input name="email" type="mail" id="email" />
        </div>
        <div>
            <label name="senha">Senha:</label>
            <input name="senha" id="senha" type="password"/>
        </div>
        <div>
            <label name="re_senha">Comfirme a senha:</label>
            <input name="re_senha" id="re_senha" type="password"/>
        </div>
        <div class="button">
            <button type="submit" form="formCadastro" value="Submit" onclick="SubmitFormCadastro()">Create</button>
        </div>
    </form>
{% endblock %}