{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Login{% endblock %}
{% block main %}
    <form id="formLogin" method="POST">
        {% csrf_token %}
        <div>
            <label name="email">E-mail:</label>
            <input name="email" type="mail" id="email" />
        </div>
        <div>
            <label name="senha">Senha:</label>
            <input name="senha" id="senha" type="password"/>
        </div>
        <div class="button">
            <button type="submit" form="formLogin" value="Submit" onclick="SubmitFormLogin()">Sign In</button>
        </div>
        <div class="button">
            <button type="button"><a href="{% url 'criarConta' %}">Create account</a></button>
        </div>
    </form>
{% endblock %}