{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width = device-width, initial-scale = 1.0"/>
        <link rel="icon" href="{% static '/' %}img/icon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="{% static '/' %}css/base.css" />
        <link rel="stylesheet" href="{% block unic_style %}{% endblock %}"/>
        <script src="{% static '/' %}js/script.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <div class="siteTitle">
                <h1 class="title">Justino Art Tattoo</h1>
            </div>
            <nav class="containerMenu" id="topMenu">
                <button class="itemMenu"><a class="linkMenu" href="{% url 'home' %}">Home</a></button>
                <button class="itemMenu"><a class="linkMenu" href="{% url 'agenda' %}">Agenda</a></button>
                <button class="itemMenu"><a class="linkMenu" href="{% url 'catalogo' %}">Catálogo</a></button>
                <button class="itemMenu"><a class="linkMenu" href="{% url 'promocao' %}">Promoções</a></button>
                <button class="itemMenu"><a class="linkMenu" href="{% url 'portfolio' %}">Portfólio</a></button>
                <button class="itemMenu"><a class="linkMenu" href="{% url 'login' %}">Usuário</a></button>
            </nav>
        </header>
        <main class="main">{% block main %}{% endblock %}</main>
        <footer>
            <div class="footerTop">
                <div id="map"></div>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzucE-JUGcpuo0DecYx6Gbr1tVIE3GP1Q&callback=initMap">
                </script>
                <div class="dados">
                    <p>Endereço: XXX</p>
                    <p>Telefone: XXX</p>
                    <p>E-mail: XXX</p>
                    <div>
                        <button>
                            <a>Facebook</a>
                        </button>
                        <button>
                            <a>Instagram</a>
                        </button>
                        <button>
                            <a>Pinterest</a>
                        </button>    
                    </div>
                </div>
            </div>
            <div class="direitos">
                <p>copyright</p>
            </div>
        </footer>
    </body>
</html>