{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Justino Art Tattoo{% endblock %}
{% block main %}
    <div class="containerCarousel" id="novas">
        <div class="carousel">
            <p class="label">Metodo Implicito</p>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=1556bcee0d404812b34ad42d16c281f6&redirect_uri=http://127.0.0.1:80/&response_type=token">insta</a>
            <p class="label">Metodo Explicito</p>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=1556bcee0d404812b34ad42d16c281f6&redirect_uri=http://127.0.0.1:80/&response_type=code">insta</a>
            <form method="POST">
                {% csrf_token %}
                <input name="client_id" type="text"></br>
                <input name="client_secret" type="text"></br>
                <input name="grant_type" type="text"></br>
                <input name="redirect_uri" type="text"></br>
                <input name="code" type="text"></br>
                <button id="instagram" type="submit" action="https://api.instagram.com/oauth/access_token">so vai</button></br>
            </form>
            <div class="ImagensInsta">
            {% for x, foto in fotos.items %}
                <img class="itemsInsta" src="{{ foto }}"/>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="top10" id="top10">
        <div class="gridTop10">
            <!-- a class .highlight vai precisar de um script toggle onClick, que mude ela de div-->
            <div class="itemTop10 highlight" >
                <img src="{{ fotos.0 }}" class="imgHighlight"/>
            </div>
            {% for item in leng %}
            <div class="itemTop10">
                <img class="imgTop10" onclick="toggleHighlight(item)" src=""/>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}