{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Agenda{% endblock %}
{% block calendar %}
    <link rel='stylesheet' href="{% static 'fullcalendar/fullcalendar.css' %}" />
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.js' %}" ></script>
    <script src="{% static 'fullcalendar/locale-all.js' %}" ></script>
    <script src="{% static 'fullcalendar/locale/pt-br.js' %}"></script>
{% endblock %}
{% block main %}
{{ calendar }}
    <h1>Em construção</h1>

    <div id="calendar"></div>
{% endblock %}