{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Agenda{% endblock %}
{% block calendar %}
    <link href="{% static 'fullcalendar/fullcalendar.min.css' %}" rel='stylesheet' />
    <link href="{% static 'fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}" ></script>
    <script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'fullcalendar/locale-all.js' %}" ></script>
    <script src="{% static 'fullcalendar/locale/pt-br.js' %}"></script>
    <script>

  $(document).ready(function() {

    $('#agenda').fullCalendar({
        defaultView: 'agendaWeek',
        selectable: true,
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek',
        },
        navLinks: true, // can click day/week names to navigate views
        eventLimit: true, // allow "more" link when too many events
        dayClick: function(date, jsEvent, view, resourceObj) {
            window.location = "{% url 'realizarPedido' %}";
        },
        select: function(startDate, endDate) {
            window.location = "{% url 'realizarPedido' %}";
        },
        events: [
            {% for eTitle, eStart, eEnd, eUrl, eAllDay in events %}
                {
                    title: eTitle,
                    start: eStart,
                    end: eEnd,
                    url: eUrl,
                },
            {% endfor %}
            {
                title: "teste1",
                start: "2018-11-26T09:00:00",
                end: "2018-11-26T23:00:00",
                url: "",
            },
            {
                title: "teste2",
                start: "2018-11-26T09:00:00",
                end: "2018-11-26T23:00:00",
                url: "",
            },
        ]
    });

  });

</script>
{% endblock %}
{% block main %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
    <style>
      #agenda {
        max-width: 900px;
        margin: 1em auto;
      }

    </style>

    <div id="agenda"></div>
{% endblock %}