{% extends 'base.html' %}
{% load static %}
{% block title %}Catálogo{% endblock %}

{% block subnav %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block main %}


    <div class="sidebarFiltro">
        <h4 class="whiteText">Categorias<h4>
        <div class="categoriaFiltro">
            <h5 class="whiteText">Estilo<h5>
            <select name="Estilo" class="filtroDropDown">
                {% for e in estilos %}
                <option value="{{ e.estiloId }}">{{ e.estiloName }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-primary" onclick="filtrarEstilo()">Procurar</button>
            <button class="btn btn-primary" onclick="limparFiltro()">Ver Todos</button>
        </div>
    </div>
    <div class="gridContainer">
            {% for item in pins %}
            <div class="gridFoto" name="estilo_{{ item.estiloId }}">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{{ item.url }}" rel="prettyPhoto">
                                <div class="hover-text"></div>
                                <img src="{{ item.url }}" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}