{% extends 'base.html' %} {% load static %}
{% block title%}Justino Art Tattoo{% endblock %}
{% block main %}
<!-- Portfolio Section -->
{{ resp }}
<div>
    <div class="container">
        <div class="section-title text-center center">
            <h2>Trabalhos Recentes</h2>
            <hr>
        </div>
        <div class="row">
            <div>
                {% for index, img in fotos.items %}
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{{ img }}" rel="prettyPhoto">
                                <div class="hover-text">
                                </div>
                                <img src="{{ img }}" class="img-responsive"> </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
        <div class="container">
            <div class="section-title text-center center">
                <h2>Melhores Trabalhos</h2>
                <hr>
            </div>
            <div class="row">
                <div class="top5" id="top5">
                    <div class="gridtop5">
                        <!-- a class .highlight vai precisar de um script toggle onClick, que mude ela de div-->
                        <div class="itemtop5 highlight">
                            <img src="{{ fotos.0 }}" class="imgtop5 imgHighlight" onclick="toggleHighlight2(0)" />
                        </div>
                        <div class="itemtop5">
                            <img class="imgtop5" onclick="toggleHighlight2(1)" src="{{ fotos.1 }}" />
                        </div>
                        <div class="itemtop5">
                            <img class="imgtop5" onclick="toggleHighlight2(2)" src="{{ fotos.2 }}" />
                        </div>
                        <div class="itemtop5">
                            <img class="imgtop5" onclick="toggleHighlight2(3)" src="{{ fotos.3 }}" />
                        </div>
                        <div class="itemtop5">
                            <img class="imgtop5" onclick="toggleHighlight2(4)" src="{{ fotos.4 }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="https://api.pinterest.com/oauth/?
        response_type=code&
        redirect_uri=https://localhost/connect/pinterest/
        &client_id=4967178131707275411&
        scope=read_public,write_public&
        state=teste001OPEDraco">pinterest</a>-->
{% endblock %}