{% extends 'base.html' %} {% load static %}
{% block title%}Justino Art Tattoo{% endblock %}
{% block subnav %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Esqueceu senha</a>
    <!--<a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>-->
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
{% block main %}

{{ user }}
<!-- Portfolio Section -->
<div>
    <div class="container">
        <div class="section-title text-center center"><!-- Trabalhos Recentes -->
            <h2>Trabalhos Recentes</h2>
            <hr>
        </div>
        <div class="row">
            <div>
                {% for r in recentes %}
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{{ r.url }}" rel="prettyPhoto">
                                <div class="hover-text">
                                </div>
                                <img src="{{ r.url }}" class="img-responsive"> </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
        <div class="container">
            <div class="section-title text-center center">
                <h2>Melhores Trabalhos</h2>
                <hr>
            </div>
            <div class="row">
                <div class="top5" id="top5">
                    <div class="gridtop5">
                        <!-- a class .highlight vai precisar de um script toggle onClick, que mude ela de div-->
                        {% for t in top5 %}
                        {% if t.pos == 0 %}
                        <div class="itemtop5 highlight">
                            <img src="{{ t.url }}" class="imgtop5 imgHighlight" onclick="toggleHighlight2({{ t.pos }})" />
                        </div>
                        {% else %}
                        <div class="itemtop5">
                            <img class="imgtop5" onclick="toggleHighlight2({{ t.pos }})" src="{{ t.url }}" />
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}