{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio{% endblock %}

{% block subnav %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block main %}


    <div class="sidebarFiltro">
        <h4 class="whiteText">Categorias<h4>
        <div class="categoriaFiltro">
            <h5 class="whiteText">Estilo<h5>
            <select name="Estilo" class="filtroDropDown">
                {% for e in estilos %}
                <option value="{{ e.estiloId }}">{{ e.estiloName }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-primary" onclick="filtrarEstilo()">Procurar</button>
            <button class="btn btn-primary" onclick="limparFiltro()">Ver Todos</button>
        </div>
    </div>
    <div class="gridContainer">
            {% for item in fotos %}
            <div class="gridFoto" name="estilo_{{ item.estiloId }}">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="{{ item.url }}" rel="prettyPhoto">
                                <div class="hover-text"></div>
                                <img src="{{ item.url }}" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <button class="addImgRound" onclick="showOrcamento({{ item.imageId }}, '{{ item.url }}', {{ item.estiloComplex }})">$</button>
                </div>
            {% endfor %}
    </div>
    <div class="seletorServico"><!-- Container Contratar Serviço - Hidden por padrão -->
        <div class="containerContratarServico" id="containerHidden">
            <div class="containerFoto">
                <img src="" class="miniFoto" id="largeFoto">
            </div>

            <div class="gridOrcamento">

                <label for="select_tamanho">Tamanho</label>
                <select id="select_tamanho">
                    {% for t in tamanhos %}
                    <option value="{{ t.tamanhoId }}"  name="{{ t.multiplicador }}">{{ t.tamanhoName }}</option>
                    {% endfor %}
                </select>

                <label for="select_cor">Cor</label>
                <select id="select_cor">
                    {% for cor in cores %}
                    <option value="{{ cor.corId }}" name="{{ cor.multiplicador }}">{{ cor.corNumber }}</option>
                    {% endfor %}
                </select>

                <label for="select_regiao">Região</label>
                <select id="select_regiao">
                    {% for r in regioes %}
                    <option value="{{ r.regiaoId }}" name="{{ r.multiplicador }}">{{ r.regiaoName }}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-primary" onclick="calcularOrcamento()">Preço Estimado</button>
                <div class="boxOrcamento" id="input_show_valor" readonly></div>

                <input type="hidden" id="input_idCliente" value="">
                <input type="hidden" id="input_idImagem" value="">
                <input type="hidden" id="input_complex" value="">

                {% if user.auth %}
                <button class="btn btn-primary" onclick="contratarServico()">Contratar</button>
                {% endif %}
                <button class="addImgRound" onclick="closeWindow('seletorServico')">X</button>
            </div>
        </div>

    </div>
{% endblock %}