{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Promoções{% endblock %}
{% block main %}
<div class="container">
    <div class="section-title text-center center">
        <h2>Promoções do Dia</h2>
        <hr>
    </div>
    <div class="gridPromos" id="gridPromos">
        {% for index, img in fotos.items %}
        <div class="gridFoto">
            <div class="portfolio-item">
                <span class="promoTag">{{ img['desconto'] }}</span>
                <div class="hover-bg">
                    <a href="{{ img['url'] }}" rel="prettyPhoto">
                        <div class="hover-text"></div>
                        <img src="{{ img['url'] }}" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>

    <div class="section-title text-center center">
        <h2>Pacotes</h2>
        <hr>
    </div>
    <div class="gridPacotes" id="gridPacotes">
    {% for indice, img in pins.items %}
        <div class="pacoteContainer">
            <div class="infoPacote">
                <p>Algum Item</p>
                <p>Mais um Item</p>
                <p>Outro Item</p>
                <span class="precoAntigo">Preço Antigo</span>
                <span class="precoNovo">Preço Novo</span>
            </div>
            <div>
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="{{ img }}" rel="prettyPhoto">
                            <div class="hover-text"></div>
                            <img src="{{ img }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>
</div>
{% endblock %}