{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Promoções{% endblock %}

{% block subnav %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block main %}

<div class="container">
    <div class="section-title text-center center">
        <h2>Promoções do Dia</h2>
        <hr>
    </div>
    <div class="gridPromos" id="gridPromos">
        {% for p in promos %}
        <div class="gridFoto">
            <span class="promoTag">-{{ p.desconto }}%</span>
            <div class="portfolio-item">
                <div class="hover-bg">
                    <a href="{{ p.url }}" rel="prettyPhoto">
                        <div class="hover-text"></div>
                        <img src="{{ p.url }}" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>
{{ promos }}
    <div class="section-title text-center center">
        <h2>Pacotes</h2>
        <hr>
    </div>
    <div class="gridPacotes" id="gridPacotes">
    {% for p in promos %}
        <div class="pacoteContainer">
            <div class="infoPacote">
                <p>Algum Item</p>
                <p>Mais um Item</p>
                <p>Outro Item</p>
                <span class="precoAntigo">Preço Antigo</span>
                <span class="precoNovo">Preço Novo</span>
            </div>
            <div>
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="{{ p.url }}" rel="prettyPhoto">
                            <div class="hover-text"></div>
                            <img src="{{ p.url }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>
    <div class="shareButton" id="shareButton">
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://zzzaik.pythonanywhere.com/promocao/">
        <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
        </a>

        <a target="_blank" href="https://twitter.com/intent/tweet?text=Cheque%20as%20novas%20promo%C3%A7%C3%B5es%20dispon%C3%ADveis%20para%20o%20seu%20novo%20look!%0Ahttp%3A%2F%2Fzzzaik.pythonanywhere.com%2Fpromocao%2F%0A">
        <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
        </a>

        <a target="_blank" href="https://plus.google.com/share?url=http://zzzaik.pythonanywhere.com/promocao/">
        <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
        </a>
    </div>
</div>
{% endblock %}