{% extends 'base.html' %}
{% load static %}
{% block unic_style %}{% static '/' %}css/index.css{% endblock %}
{% block title %}Promoções{% endblock %}
{% block main %}
{% block subnav %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}

<div class="container">
    <div class="section-title text-center center">
        <h2>Promoções do Dia</h2>
        <hr>
    </div>
    <div class="gridPromos" id="gridPromos">
        {% for index, img in fotos.items %}
        <div class="gridFoto">
            <span class="promoTag">-20%</span>
            <div class="portfolio-item">
                <div class="hover-bg">
                    <a href="{{ img }}" rel="prettyPhoto">
                        <div class="hover-text"></div>
                        <img src="{{ img }}" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>

    <div class="section-title text-center center">
        <h2>Pacotes</h2>
        <hr>
    </div>
    <div class="gridPacotes" id="gridPacotes">
    {% for indice, img in pins.items %}
        <div class="pacoteContainer">
            <div class="infoPacote">
                <p>Algum Item</p>
                <p>Mais um Item</p>
                <p>Outro Item</p>
                <span class="precoAntigo">Preço Antigo</span>
                <span class="precoNovo">Preço Novo</span>
            </div>
            <div>
                <div class="portfolio-item">
                    <div class="hover-bg">
                        <a href="{{ img }}" rel="prettyPhoto">
                            <div class="hover-text"></div>
                            <img src="{{ img }}" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-link">Ver Mais</button>
    </div>
</div>
{% endblock %}