{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Nosso código-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <link rel="icon" href="{% static '/' %}img/icon.ico" type="image/x-icon" />
    <!--<link rel="stylesheet" href="{% static '/' %}css/base.css" />
    <link rel="stylesheet" href="{% block unic_style %}{% endblock %}" />-->
    <script src="{% static '/' %}js/script.js"></script>
    <title>{% block title %}{% endblock %}</title>

    <!--Template-->
    <!-- Favicons
            ================================================== -->
    <link rel="shortcut icon" href="{% static '/' %}img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static '/' %}img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/' %}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/' %}img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static '/' %}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static '/' %}fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
            ================================================== -->
    <link rel="stylesheet" type="text/css" href="{% static '/' %}css/style.css">
    <link rel="stylesheet" type="text/css" href="{% static '/' %}css/prettyPhoto.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static '/' %}js/modernizr.custom.js"></script>
    {% block script %}{% endblock %}

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <div id="nav">
        <nav class="navbar navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="{% url 'home' %}">Justino</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'main' %}">Main</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'gestaoAgenda' %}">Agenda</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'gestaoClientes' %}">Clientes</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'gestaoCatalogo' %}">Catálogo</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'gestaoPortfolio' %}">Portfólio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% url 'gestaoPromos' %}">Promoções</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        {% block subnav %}{% endblock %}
    </div>

    <main class="main">{% block main %}{% endblock %}</main>

    <footer>
        <div id="footer">
            <div class="text-center">
                <p>Grupo Draco - 2018</p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static '/' %}js/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/bootstrap.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/SmoothScroll.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/easypiechart.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/jquery.isotope.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/jquery.counterup.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/waypoints.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/contact_me.js"></script>
    <script type="text/javascript" src="{% static '/' %}js/main.js"></script>
</body>

</html>