{% extends 'base2.html' %} {% load static %}
{% block title%}Portfólio{% endblock %}
{% block main %}
<div class="container">
    <div><!-- Grid Container: 2 colunas [não classificados] [Classificados] -->
        <div><!-- Coluna não Classificados -->
            <div><!-- Container Item-->
                <div><!-- Miniatura Imagem -->
                    <img>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Estilo</h5>
                    <select>
                        <option>Estilo 1</option>
                        <option>Estilo 2</option>
                        <option>Estilo 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Tamanho</h5>
                    <select>
                        <option>Tamanho 1</option>
                        <option>Tamanho 2</option>
                        <option>Tamanho 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Cor</h5>
                    <select>
                        <option>Cor 1</option>
                        <option>Cor 2</option>
                        <option>Cor 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Região</h5>
                    <select>
                        <option>Região 1</option>
                        <option>Região 2</option>
                        <option>Região 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div><!-- Coluna Classificados -->
            <div><!-- Container Item-->
                <div><!-- Miniatura Imagem -->
                    <img>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Estilo</h5>
                    <select>
                        <option>Estilo 1</option>
                        <option>Estilo 2</option>
                        <option>Estilo 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Tamanho</h5>
                    <select>
                        <option>Tamanho 1</option>
                        <option>Tamanho 2</option>
                        <option>Tamanho 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Cor</h5>
                    <select>
                        <option>Cor 1</option>
                        <option>Cor 2</option>
                        <option>Cor 3</option>
                    </select>
                </div>
                <div><!-- Container Seletor -->
                    <h5>Região</h5>
                    <select>
                        <option>Região 1</option>
                        <option>Região 2</option>
                        <option>Região 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div><!-- Salvar Modificações -->
        <button>Atualizar</button>
        <button>Salvar</button>
    </div>
</div>