{% extends 'tatuador/base2.html' %} {% load static %}
{% block title%}Clientes{% endblock %}
{% block main %}
<div class="container moveTop80">
    <div><!-- Lista de Clientes -->
        <div><!-- Item Cliente -->
            <h2><!-- Nome Usuário --></h2>
            <div><!-- Botão Dropdown -->
                <ul><!-- Lista de Opções -->
                    <li><a>Horários</a></li>
                    <li><a>Aciduidade</a></li>
                    <li><a>Contato</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}