{% extends 'tatuador/base2.html' %} {% load static %}
{% block title%}Promoções{% endblock %}
{% block main %}
{% if user.auth %}
<div class="subnav">
    <a href="{% url 'sair' %}" class="subnavLink">Logout</a>
    <a href="{% url 'tokenRedefinirSenha' %}" class="subnavLink">Alterar Senha / Esqueceu senha</a>
    <a href="{% url 'configsConta' %}" class="subnavLink">Configurações da conta</a>
    {% if user.confiavel == 0 %}
        <a href="{% url 'confirmEmail' %}" class="subnavLink">Confirmar e-mail</a>
    {% endif %}
    {% if user.tipo == 1 %}
        <a href="{% url 'main' %}" class="subnavLink">Gestão</a>
    {% endif %}
</div>
{% endif %}

<a href="{% url 'atualizarImagens' %}" >Atualizar Imagens</a>
<a href="{% url 'postarRedesSociais' %}" >Postar conteudo nas redes sociais</a>
{% endblock %}