{% extends 'tatuador/base2.html' %} {% load static %}

{% block script %}
<script type="text/javascript">
    let json_values = {{ data }};
    let target = document.getElementById("testeJson");
    for(let i=0;i<json_values.length;i++){
        let box = document.createElement("span");
        let text = document.createTextNode(json_values[i]['url']);
        box.appendChild(text);

        target.appendChild(box);
    };

</script>
{% endblock %}

{% block title%}Catálogo{% endblock %}
{% block main %}

<div class="container moveTop80">
    <div class="gridCatalogoGestao"><!-- Grid Container: 2 colunas [não classificados] [Classificados] -->
        <h3>Não Classificados</h3>
        <div class="gridItemContainer"><!-- Coluna não Classificados -->
            {% for item in data.noClassf %}
            <div class="gridItemGestao"><!-- Container Item-->
                <div class="miniFrame"><!-- Miniatura Imagem -->
                    <img src='{{ item.url }}' class="miniFoto">
                </div>
                <div class="selectorContainer" name="semClassificacao"><!-- Container Seletor -->
                    <input type="hidden" name="imgID" value="{{ item.imgId }}">
                    <h5>Estilo</h5>
                    <select>
                        {% for e in estilos %}
                        <option value="{{ e.estiloId }}">{{ e.estiloName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}

        </div>

        <h3>Classificados</h3>
        <div class="gridItemContainer"><!-- Coluna Classificados -->
            {% for item in data.classf %}
            <div class="gridItemGestao"><!-- Container Item-->
                <div class="miniFrame"><!-- Miniatura Imagem -->
                    <img src="{{ item.url }}" class="miniFoto">
                </div>
                <div class="selectorContainer"><!-- Container Seletor -->
                    <h5>Estilo</h5>
                    <select>
                        {% for e in estilos %}
                            {% if item.estilo != e.estiloId %}
                            <option value="{{ e.estiloId }}">{{ e.estiloName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <div><!-- Salvar Modificações -->
        <button class="btn btn-primary">Atualizar</button>
        <button class="btn btn-primary" onclick="saveCatalogo()">Salvar</button>
    </div>
</div>

{% endblock %}